@import '../../node_modules/modern-normalize/modern-normalize.css';
// @import 'node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Poppins', sans-serif;
    color: $txtColorBlack;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: $mobile;

    
        @media screen and (min-width: $tablet) {
            max-width: $tablet;
            padding-left: 32px;
            padding-right: 32px;
        }
    
        @media screen and (min-width: $desktop) {
            max-width: $desktop;
            padding-left: 16px;
            padding-right: 16px;
        }
    
}