$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$bgColor: #FCFCFC;
$accColor: #FD5103;
$btnColor: #FE7031;
$txtColorBlack: #202025;
$txtColorGray: #5F6775;
$txtColorWhite: #FFFFFF;
$txtColorModalBlack: #000917;
// Fonts

$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Mont: 'Montserrat';