<section class="hero">
    <div class="hero__container container">
<div class="hero__title--wpapper">
      <h1 class="hero__title">
        A party without cocktails <br />
        is not like a party
      </h1>
    </div>
        <picture class="hero__picture">
      <source
        srcset="
          ./images/image-hero/hero@1x-1280.png 1x,
          ./images/image-hero/hero@2x-1280.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/image-hero/hero@1x-768.png 1x,
          ./images/image-hero/hero@2x-768.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/image-hero/hero@1x-320.png 1x,
          ./images/image-hero/hero@2x-320.png 2x
        "
        media="(max-width:768px)"
      />
      <img
        src="./images/image-hero/hero@1x-320.png"
        loading="lazy"
        alt="Сocktail"
      />
    </picture>
      <p class="hero__text">Search your favorite cocktail by ABC</p>
    <div class="hero__wrapper">
  <button class="hero__btn button">A</button>
      <svg class="hero__svg" width="12" height="10">
              <use href="./images/symbol-defs.svg#icon-down"></use>
            </svg>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__button--option button" name="a">A</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="b">B</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="c">C</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="d">D</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="e">E</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="f">F</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="g">G</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="h">H</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="i">I</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="j">J</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="k">K</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="l">L</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="m">M</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="n">N</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="o">O</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="p">P</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="q">Q</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="r">R</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="s">S</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="t">T</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="u">U</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="v">V</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="w">W</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="x">X</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="y">Y</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="z">Z</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="1">1</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="2">2</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="3">3</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="4">4</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="5">5</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="6">6</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="7">7</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="8">8</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="9">9</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="0">0</button>
        </li>
      </ul>
    </div>
  </div>
    </div>
</section>
