<section class="hero">
    <div class="hero__container container">
<div class="hero__title--wpapper">
      <h1 class="hero__title">
        A party without cocktails <br />
        is not like a party
      </h1>
      <!-- <svg
        class="hero__svg"
        src="./images/symbol-defs.svg#icon-down"
        width="20"
        height="20"
      >
        <use href="#icon-down" width="20" height="20"></use>
      </svg> -->
    </div>
    <picture class="hero__picture">
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-1280-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-1280-white.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-768-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-768-white.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-320-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-320-white.jpg 2x
        "
        media="(max-width:768px)"
      />
      <img
        src="./images/image-hero/img1-hero@1x-320-white.jpg"
        loading="lazy"
        alt="Сocktail"
      />
    </picture>

    <div class="hero__wrapper">
      <p class="hero__text">Search your favorite cocktail by ABC</p>
  <button class="hero__btn button">A</button>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__button--option button">A</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">B</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">C</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">D</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">E</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">F</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">G</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">H</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">I</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">J</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">K</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">L</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">M</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">N</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">O</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">P</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">Q</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">R</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">S</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">T</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">U</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">V</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">W</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">X</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">Y</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">Z</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">1</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">2</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">3</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">4</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">5</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">6</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">7</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">8</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">9</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button">0</button>
        </li>
      </ul>
    </div>
<div class="select-box">
<label class="select-box__text" for="cars">Search your favorite cocktail by ABC</label>
<div class="select-box__wrapper">
 <select class="select-box__values select" name="cars" id="cars">
      <option class="select-box__value" value="">A</option>
      <option class="select-box__value" value="">B</option>
      <option class="select-box__value" value="">C</option>
      <option class="select-box__value" value="">D</option>
      <option class="select-box__value" value="">E</option>
      <option class="select-box__value" value="">F</option>
      <option class="select-box__value" value="">G</option>
      <option class="select-box__value" value="">H</option>
      <option class="select-box__value" value="">I</option>
      <option class="select-box__value" value="">J</option>
      <option class="select-box__value" value="">K</option>
      <option class="select-box__value" value="">L</option>
      <option class="select-box__value" value="">M</option>
      <option class="select-box__value" value="">N</option>
      <option class="select-box__value" value="">O</option>
      <option class="select-box__value" value="">P</option>
      <option class="select-box__value" value="">Q</option>
      <option class="select-box__value" value="">R</option>
      <option class="select-box__value" value="">S</option>
      <option class="select-box__value" value="">T</option>
      <option class="select-box__value" value="">U</option>
      <option class="select-box__value" value="">V</option>
      <option class="select-box__value" value="">W</option>
      <option class="select-box__value" value="">X</option>
      <option class="select-box__value" value="">Y</option>
      <option class="select-box__value" value="">Z</option>
      <option class="select-box__value" value="">1</option>
      <option class="select-box__value" value="">2</option>
      <option class="select-box__value" value="">3</option>
      <option class="select-box__value" value="">4</option>
      <option class="select-box__value" value="">5</option>
      <option class="select-box__value" value="">6</option>
      <option class="select-box__value" value="">7</option>
      <option class="select-box__value" value="">8</option>
      <option class="select-box__value" value="">9</option>
      <option class="select-box__value" value="">0</option>
    </select>
</div>
</div>
  </div>
    </div>
</section>
