<section class="hero">
    <div class="hero__container container">
<div class="hero__title--wpapper">
      <h1 class="hero__title">
        A party without cocktails <br />
        is not like a party
      </h1>
      <!-- <svg
        class="hero__svg"
        src="./images/symbol-defs.svg#icon-down"
        width="20"
        height="20"
      >
        <use href="#icon-down" width="20" height="20"></use>
      </svg> -->
    </div>
    <picture class="hero__picture">
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-1280-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-1280-white.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-768-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-768-white.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/image-hero/img1-hero@1x-320-white.jpg 1x,
          ./images/image-hero/img1-hero@2x-320-white.jpg 2x
        "
        media="(max-width:768px)"
      />
      <img
        src="./images/image-hero/img1-hero@1x-320-white.jpg"
        loading="lazy"
        alt="Сocktail"
      />
    </picture>

    <div class="hero__wrapper">
      <p class="hero__text">Search your favorite cocktail by ABC</p>
  <button class="hero__btn button">A</button>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__button--option button" name="a">A</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="b">B</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="c">C</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="d">D</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="e">E</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="f">F</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="g">G</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="h">H</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="i">I</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="j">J</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="k">K</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="l">L</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="m">M</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="n">N</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="o">O</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="p">P</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="q">Q</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="r">R</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="s">S</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="t">T</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="u">U</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="v">V</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="w">W</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="x">X</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="y">Y</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="z">Z</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="1">1</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="2">2</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="3">3</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="4">4</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="5">5</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="6">6</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="7">7</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="8">8</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="9">9</button>
        </li>
        <li class="hero__item">
          <button class="hero__button--option button" name="0">0</button>
        </li>
      </ul>
    </div>
<div class="select-box">
<label class="select-box__text" for="cars">Search your favorite cocktail by ABC</label>
<div class="select-box__wrapper">
 <select class="select-box__values select" name="letters" id="letters">
      <option class="select-box__value" value="a">A</option>
      <option class="select-box__value" value="b">B</option>
      <option class="select-box__value" value="c">C</option>
      <option class="select-box__value" value="d">D</option>
      <option class="select-box__value" value="e">E</option>
      <option class="select-box__value" value="f">F</option>
      <option class="select-box__value" value="g">G</option>
      <option class="select-box__value" value="h">H</option>
      <option class="select-box__value" value="i">I</option>
      <option class="select-box__value" value="j">J</option>
      <option class="select-box__value" value="k">K</option>
      <option class="select-box__value" value="l">L</option>
      <option class="select-box__value" value="m">M</option>
      <option class="select-box__value" value="n">N</option>
      <option class="select-box__value" value="o">O</option>
      <option class="select-box__value" value="p">P</option>
      <option class="select-box__value" value="q">Q</option>
      <option class="select-box__value" value="r">R</option>
      <option class="select-box__value" value="s">S</option>
      <option class="select-box__value" value="t">T</option>
      <option class="select-box__value" value="u">U</option>
      <option class="select-box__value" value="v">V</option>
      <option class="select-box__value" value="w">W</option>
      <option class="select-box__value" value="x">X</option>
      <option class="select-box__value" value="y">Y</option>
      <option class="select-box__value" value="z">Z</option>
      <option class="select-box__value" value="1">1</option>
      <option class="select-box__value" value="2">2</option>
      <option class="select-box__value" value="3">3</option>
      <option class="select-box__value" value="4">4</option>
      <option class="select-box__value" value="5">5</option>
      <option class="select-box__value" value="6">6</option>
      <option class="select-box__value" value="7">7</option>
      <option class="select-box__value" value="8">8</option>
      <option class="select-box__value" value="9">9</option>
      <option class="select-box__value" value="0">0</option>
    </select>
</div>
</div>
  </div>
    </div>
</section>
