<section class="section cocktails">
  <div class="container">
    <h2 class="cocktails__title">Cocktails</h2>
    <ul class="cocktails__list cocktails__list-js"></ul>

    <div class="pagination__wrapper">
      <svg class="pagination__svg pagination__svg--left" width="8" height="13">
        <use href="./images/symbol-defs.svg#icon-left"></use>
      </svg>
      <ul class="pagination" id="pagination"></ul>
      <svg class="pagination__svg pagination__svg--right" width="8" height="13">
        <use href="./images/symbol-defs.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
