<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="close-modal" aria-label="Close button">
            <svg class="modal-icon-close" width="24" height="24">
                <use href=""></use>
            </svg>
        </button>
        <h2 class="coctail-name">Negroni</h2>
        <h3 class="coctail-instruction">INSTRUCTIONS:</h3>
        <p class="coctail-description">
            Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
            and stir until well-chilled. Strain into a rocks glass filled with large
            ice cubes. Garnish with an orange peel.
        </p>
        <img class="coctail-img" src="" alt="Negroni" />
        <h4 class="ingredients">INGREDIENTS</h4>
        <p class="ingredients-percoctail">Per coctail</p>
        <ul class="ingredients-list">
            <li class="ingridients-item">✶ Ice</li>
            <li class="ingridients-item">✶ 1 ounce gin</li>
            <li class="ingridients-item">1 ounce Campari</li>
            <li class="ingridients-item">1 ounce sweet vermouth</li>
            <li class="ingridients-item">Garnish: orange peel</li>
        </ul>
        <button type="button" class="button-modal modal-favorite" aria-label="Add to favorite">
            Add to favorite
        </button>

        <!-- <button
      type="button"
      class="button-modal modal-remove-favorite"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button> -->
    </div>
</div>