<div class="backdrop is__hidden">
    <div class="modal">
        <button type="button" class="close__modal" aria-label="Close button">
            <svg class="modal__icon-close" width="24" height="24">
                <use href="./images/image-modal/close-modal.svg"></use>
            </svg>
        </button>
        <h2 class="coctail__name">Negroni</h2>
        <h3 class="coctail__instruction">INSTRUCTIONS:</h3>
        <p class="coctail__description">
            Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
            and stir until well-chilled. Strain into a rocks glass filled with large
            ice cubes. Garnish with an orange peel.
        </p>
        <img class="coctail__img" src="./images/image-modal/ACID.jpg" alt="Negroni" />
        <h4 class="ingredients">INGREDIENTS</h4>
        <p class="ingredients__percoctail">Per coctail</p>
        <ul class="ingredients__list">
            <li class="ingridients__item">✶ Ice</li>
            <li class="ingridients__item">✶ 1 ounce gin</li>
            <li class="ingridients__item">✶ 1 ounce Campari</li>
            <li class="ingridients__item">✶ 1 ounce sweet vermouth</li>
            <li class="ingridients__item">✶ Garnish: orange peel</li>
        </ul>
        <button type="button" class="button__modal modal__favorite" aria-label="Add to favorite">
            Add to favorite
        </button>

        <!-- <button
      type="button"
      class="button__modal modal__remove-favorite"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button> -->
    </div>
</div>