<div class="backdrop__ing is-hidden">
    <div class="modal__ing">
        <button type="button" class="close__modal" aria-label="Close button">
            <svg class="modal-icon-close" width="24" height="24">
                <use href="./images/image-modal/close-modal.svg"></use>
            </svg>
        </button>
        <h2 class="ingridient">Campari</h2>
        <h3 class="ingridient__type">Liqueur</h3>
        <p class="ingridient__description">
            <b>Campari</b> is an Italian alcoholic liqueur, considered an apéritif
            (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it
            is sold), obtained from the infusion of herbs and fruit (including
            chinotto and cascarilla) in alcohol and water. It is a bitters,
            characterised by its dark red colour.
        </p>
        <ul class="ingredients__list">
            <li class="ingridients__item">✶ Type: Bitters</li>
            <li class="ingridients__item">✶ Country of origin: Italy</li>
            <li class="ingridients__item">✶ Alcohol by volume: 20.5–28.5%</li>
            <li class="ingridients__item">✶ Flavour: Bitter, spicy and sweet</li>
        </ul>
        <button type="button" class="button-modal modal__favorite-ingridients" aria-label="Add to favorite">
            Add to favorite
        </button>

        <!-- <button
              type="button"
              class="button-modal modal-remove-favorite"
              aria-label="Remove from favorite"
            >
              Remove from favorite
            </button> -->
    </div>
</div>